#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  width: 500px;
  border: 1px solid;
  border-radius: 10px;
}

.form-block-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.in-date, .in-distance {
  display: flex;
  flex-direction: column;
}

.result-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
  align-items: center;
}

.result-out {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
}

.result-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}